@import url(./image/place-card__image.css);
@import url(./image/_city/_karachaevsk/place-card__image_city_karachaevsk.css);
@import url(./delete-icon/place-card__delete-icon.css);
@import url(./description/place-card__description.css);
@import url(./name/place-card__name.css);
@import url(./like-icon/place-card__like-icon.css);
@import url(./like-icon/likes-Counter.css);
@import url(./like-icon/container.css);

.place-card {
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 360px;
}
